<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" />
    <title>Financiamentos</title>
  </head>
  <body>

    <main class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Nova intenção de financiamento</h1>
      </div>
      <div class="card text-center">
        <form class="card-body" method="POST" th:object="${financiamento}"
              th:action="@{/financiamento/salvar}">
          <div>
            <input type="hidden" name="id" id="id" th:field="*{id}">
          </div>
          <div class="row">
            <div class="form-floating col-md-12 my-2">
              <input type="text" class="form-control" placeholder="Digite o nome do cliente" name="nome" id="nome" th:field="*{nome}" required>
              <label class="form-label mx-2" for="nome">Nome do Cliente</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o CPF do cliente" name="cpf" id="cpf" th:field="*{cpf}" required>
              <label class="form-label mx-2" for="cpf">CPF</label>
            </div>
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o RG do cliente" name="rg" id="rg" th:field="*{rg}" required>
              <label class="form-label mx-2" for="rg">RG</label>
            </div>
            <div class="form-floating col-md-4 my-2">
              <input type="date" class="form-control" placeholder="Digite a data de nascimento do cliente" name="dtNasc" id="dtNasc" th:field="*{dtNasc}" required>
              <label class="form-label mx-2" for="dtNasc">Data de Nascimento</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o e-mail do cliente" name="email" id="email" th:field="*{email}" required>
              <label class="form-label mx-2" for="email">E-mail</label>
            </div>
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o telefone residencial do cliente" name="fixo" id="fixo" th:field="*{telefoneResidencial}" required>
              <label class="form-label mx-2" for="fixo">Telefone Residencial</label>
            </div>
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o telefone celular do cliente" name="celular" id="celular" th:field="*{telefoneCelular}" required>
              <label class="form-label mx-2" for="celular">Telefone Celular</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-md-4 my-2">
              <input type="text" class="form-control" placeholder="Digite o logradouro do cliente" name="logradouro" id="logradouro" th:field="*{logradouro}" required>
              <label class="form-label mx-2" for="logradouro">Logradouro</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <input type="number" class="form-control" placeholder="Digite o telefone residencial do cliente" name="numero" id="numero" th:field="*{numero}" required>
              <label class="form-label mx-2" for="numero">Número</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <select class="form-control" name="estados" id="estados" th:field="*{estado}" required>
                <option value=""></option>
              </select>
              <label class="form-label mx-2" for="estados">Estado</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <select class="form-control" name="cidades" id="cidades" th:field="*{cidade}" required>
              </select>
              <label class="form-label mx-2" for="cidades">Cidade</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <input type="text" class="form-control" placeholder="Digite o cep do cliente" name="cep" id="cep" th:field="*{cep}" required>
              <label class="form-label mx-2" for="cep">CEP</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-md-4 my-2">
              <select class="form-control" id="categoria" th:field="*{categoria}" required>
                <option th:value="'automovel'" th:text="Automovel"></option>
                <option th:value="'imovel'" th:text="Imovel"></option>
              </select>
              <label class="form-label mx-2" for="categoria">Categoria</label>
            </div>
            <div class="form-floating col-md-4 my-2">
              <input type="number" class="form-control" placeholder="Valor do financiamento" name="parcelas" id="parcelas" th:field="*{parcelas}" required>
              <label class="form-label mx-2" for="parcelas">Parcelas</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <input type="number" class="form-control" placeholder="Valor do financiamento" name="valor" id="valor" th:field="*{valor}" required>
              <label class="form-label mx-2" for="valor">Valor</label>
            </div>
            <div class="form-floating col-md-2 my-2">
              <input type="number" class="form-control" placeholder="Salário do cliente" name="salario" id="salario" th:field="*{salario}" required>
              <label class="form-label mx-2" for="salario">Salário</label>
            </div>
          </div>
          <a href="/financiamento/listar" role="button" class="btn btn-secondary">Voltar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </main>

      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script type="text/javascript">

        $(document).ready(function () {

          $.getJSON('/estados_cidades.json', function (data) {

            var items = [];
            var options = '<option value="">escolha um estado</option>';

            $.each(data, function (key, val) {
              options += '<option value="' + val.nome + '">' + val.nome + '</option>';
            });
            $("#estados").html(options);

            $("#estados").change(function () {

              var options_cidades = '';
              var str = "";

              $("#estados option:selected").each(function () {
                str += $(this).text();
              });

              $.each(data, function (key, val) {
                if(val.nome == str) {
                  $.each(val.cidades, function (key_city, val_city) {
                    options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
                  });
                }
              });

              $("#cidades").html(options_cidades);

            }).change();

          });

        });

      </script>

  </body>
</html>